header {
    background-color: #501f3a;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; /* Для абсолютного позиционирования навигации */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  header .logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #cccccc;
    z-index: 1; /* Чтобы логотип всегда оставался видимым */
  }
  
  header nav {
    position: absolute; /* Абсолютное позиционирование */
    left: 50%; /* Центрируем относительно ширины */
    transform: translateX(-50%); /* Смещаем на половину ширины */
    display: flex;
    gap: 20px;
  }
  
  header nav a {
    color: #cccccc;
    text-decoration: none;
    font-size: 18px;
    text-decoration: none;
  }
  
  header nav a:hover {
    text-decoration: none;
  }




  .menu-title {
    color: #cccccc;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
  }
  
  .menu-title:hover {
    color: #f5f5dc;
  }
  
  /* Обертка для dropdown */
  .dropdown {
    position: relative;
  }
  
  /* Выпадающее меню */
  .dropdown-menu {
    display: none;
    position: absolute;
    background: #112025;
    top: 100%;
    left: 0;
    min-width: 200px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    text-align: left;
  }
  
  /* Отображение меню при наведении */
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  /* Ссылки внутри подменю */
  .dropdown-menu a {
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #E0E0E0;
    font-size: 14px;
    text-align: left;
  }
  
  .dropdown-menu a:hover {
    background: #22333B;
  }





  .menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    color: #cccccc;
    cursor: pointer;
  }

  /* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  header .nav {
    display: none;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: #501f3a;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }

  header .nav.open {
    display: flex;
  }

  header .nav a {
    padding: 10px;
    display: block;
  }
}