.match-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
    width: 100%; /* Гарантируем, что контейнер занимает всю ширину */
    box-sizing: border-box; /* Учитываем padding в ширине */
}



.team-info {
    width: 100%; /* Половина ширины контейнера с учетом gap */
    max-width: 1500px; /* Совпадает с шириной match-title */
    flex-wrap: wrap; /* Позволяем блокам переходить на новую строку */
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    box-sizing: border-box; /* Учитываем padding в общей ширине */
}

.team-info table {
    font-size: 12px;
}

.team-info table .player-cell{
    font-size: 14px;
    min-width: 500px;
}

.player-column {
    min-width: 200px; /* Укажите нужную ширину */
    white-space: nowrap; /* Запрет на перенос текста */
  }

.match-title {
    width: 100%;
    max-width: 1500px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    box-sizing: border-box; /* Учитываем padding */
}

/* Адаптивность */
@media (max-width: 1024px) {
    .match-title {
        width: 90%; /* На мобильных главный блок сужается */
    }

    .team-info-container {
        flex-direction: column; /* Ставим блоки в колонку */
        gap: 20px; /* Оставляем отступы между блоками */
        align-items: center; /* Центрируем блоки */
    }

    .team-info {
        width: 90%; /* На мобильных блоки команды тоже сужаются */
    }
}

@media (max-width: 768px) {
    .match-title {
        font-size: 20px; /* Уменьшаем шрифт для мобильных */
        padding: 15px; /* Снижаем отступы */
    }

    .team-info {
        padding: 15px; /* Уменьшаем отступы внутри блоков */
    }
}

@media (max-width: 480px) {
    .match-title {
        font-size: 18px; /* Еще меньше шрифт на очень маленьких экранах */
    }

    .team-info {
        padding: 10px; /* Сужаем отступы */
    }
}
