.match-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
    width: 100%; /* Гарантируем, что контейнер занимает всю ширину */
    box-sizing: border-box; /* Учитываем padding в ширине */
}

.match-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%; /* Гарантируем, что контейнер занимает всю ширину */
    box-sizing: border-box; /* Учитываем padding в ширине */
}


.bet-info {
    font-size: 24px;
    line-height: 1.8; /* Увеличивает расстояние между строками */
    padding-top: 10px; /* Отступ сверху */
    padding-bottom: 10px; /* Отступ снизу */
}


.tabs {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
    background-color: #1f2a30;
    border-radius: 10px;
}

.tab-content {
    display: flex; /* Добавляем flex-контейнер */
    width: 100%; /* Растягиваем на всю ширину */
}

.tab {
    flex: 1; /* Равномерное распределение */
    padding: 12px 0;
    text-align: center;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 24px;
    border-radius: 8px;
    transition: color 0.3s, text-shadow 0.3s;
    text-decoration: none;
    font-weight: bold;
    margin: 0 5px;
}

.tab:hover {
    color: #ffcc00;
    text-shadow: 0px 0px 10px rgba(255, 204, 0, 0.8);
}

.tab.active {
    background: #007bff;
}




.block-info {
    width: 100%; /* Половина ширины контейнера с учетом gap */
    max-width: 1500px; /* Совпадает с шириной match-title */
    flex-wrap: wrap; /* Позволяем блокам переходить на новую строку */
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    box-sizing: border-box; /* Учитываем padding в общей ширине */
}

.stat-info {
    font-size: 12px;
}

.player-cell{
    font-size: 14px;
    min-width: 500px;
}

.player-column {
    min-width: 200px; /* Укажите нужную ширину */
    white-space: nowrap; /* Запрет на перенос текста */
  }

.match-title {
    width: 100%;
    max-width: 1500px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    box-sizing: border-box; /* Учитываем padding */
}

/* Адаптивность */
@media (max-width: 1024px) {
    .match-title {
        width: 90%; /* На мобильных главный блок сужается */
    }

    .block-info-container {
        flex-direction: column; /* Ставим блоки в колонку */
        gap: 20px; /* Оставляем отступы между блоками */
        align-items: center; /* Центрируем блоки */
    }

    .block-info {
        width: 90%; /* На мобильных блоки команды тоже сужаются */
    }
}

@media (max-width: 768px) {
    .match-title {
        font-size: 20px; /* Уменьшаем шрифт для мобильных */
        padding: 15px; /* Снижаем отступы */
    }

    .block-info {
        padding: 15px; /* Уменьшаем отступы внутри блоков */
    }
}

@media (max-width: 480px) {
    .match-title {
        font-size: 18px; /* Еще меньше шрифт на очень маленьких экранах */
    }

    .block-info {
        padding: 10px; /* Сужаем отступы */
    }
}
